{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "semi": true,
        "tabWidth": 2,
        "singleQuote": true,
        "printWidth": 100,
        "trailingComma": "es5"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "semi": true,
        "tabWidth": 2,
        "singleQuote": true,
        "printWidth": 100,
        "trailingComma": "es5"
      }
    }
  ]
}
