@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--white);

    --h1-text-color: var(--black);
    --h2-text-color: var(--black);
    --h2-border-color: var(--yellow);
    --h3-text-color: var(--black);

    --text-color: var(--black);

    --link-text-color: var(--black);
    --link-outline-color: var(--black);
    --link-shadow-color: var(--yellow);

    --link-text-color-hover: var(--black);

    --button-text-color: var(--black);
    --button-bg-color: var(--white);
    --button-border-color: var(--black);

    --button-text-color-hover: var(--white);
    --button-bg-color-hover: var(--black);
    --button-border-color-hover: var(--black);

    --theme-switcher-bg-color: var(--white);
    --theme-switcher-border-color: var(--black);
    --theme-switcher-icon-color: var(--black);
    --theme-switcher-icon-bg-color: var(--white);
    --theme-switcher-icon-border-color: var(--black);

    --theme-switcher-bg-color-hover: var(--black);
    --theme-switcher-border-color-hover: var(--black);
    --theme-switcher-icon-color-hover: var(--black);
    --theme-switcher-icon-bg-color-hover: var(--white);
    --theme-switcher-icon-border-color-hover: var(--black);

    --dates-color: var(--gray);
  }
}
