---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>404. Not Found</h1>
    <a class="button" href={import.meta.env.BASE_URL}>go home</a>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
</style>
