---
import Layout from '@/layouts/Layout.astro';
import WhoAmI from '@/components/WhoAmI.astro';
import Helpers from '@/components/Helpers.astro';
import About from '@/components/About.astro';
import Contacts from '@/components/Contacts.astro';
import Skills from '@/components/Skills.astro';
import Languages from '@/components/Languages.astro';
import Experience from '@/components/Experience.astro';
import Projects from '@/components/Projects.astro';
import Education from '@/components/Education.astro';

import about from '@/data/about.json';
---

<Layout>
  <main>
    <div>
      <WhoAmI name={about.name} position={about.position} techStack={about.techStack} />
      <Helpers />
      <About description={about.description} />
      <Contacts />
      <Skills />
      <Languages />
    </div>

    <div>
      <Experience />
      <Projects />
      <Education />
    </div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 440px 1fr;
    gap: 2rem;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 960px) {
    main {
      grid-template-columns: 1fr;
    }
  }
</style>
