<a
  class="button"
  href="/resume/pdf/George Kirakosyan — Frontend Developer (React, Vue).pdf"
  download
  target="_blank"
>
  <span aria-hidden="true">save pdf</span>
  <span class="visually-hidden">save this resume as a pdf</span>
</a>
