---
import languages from '@/data/languages.json';
---

<section aria-labelledby="languages-heading">
  <h2 id="languages-heading">Languages</h2>
  <ul>
    {languages.map((language) => <li>{`${language.label}: ${language.value}`}</li>)}
  </ul>
</section>
